.hearts, .diamonds {
    color: #EA4335;
    fill: #EA4335;
}
.clubs, .spades {
    color: black;
}

.card--small {
    width: 10vmin;
    height: 15vmin;
    min-width: 50px;
    min-height: 75px;
}

.card--medium {
    width: 15vmin;
    height: 22.5vmin;
    min-width: 75px;
    min-height: 112px;
}

.card--large {
    width: 20vmin;
    height: 30vmin;
    min-width: 100px;
    min-height: 150px;
}
.card {
    user-select: none;
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    transform-style: preserve-3d;
    transition: transform 1s ease;
    z-index: 0;
}
.card--flipped {
    transform: rotateY(180deg);
}

.card__back, .card__face {
    padding: .1em;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.card__back {
    border: .1em solid white;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background-color: #EA4335;
    background-image: url("../resources/card-back.svg");
}

.card__face {
    display: flex;
    background-color: white;
}

.rank {
    font-stretch: ultra-condensed;
    line-height: .9em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rank > .suit-icon {
    width: 1ch;
}

.card--small .rank {
    font-size: 1rem;
}

.rank:last-child {
    transform: rotateZ(180deg);
    backface-visibility: hidden;
}

.pips {
    display: grid;
    align-items: center;
}
.card--large .pips {
    margin: 1vmin;
    grid-gap: .1em;
}
.pips--2, .pips--3 {
    grid-template:
    ". a ." minmax(0, 1fr)
    ". c ." minmax(0, 1fr)
    ". b ." minmax(0, 1fr)
    / minmax(0, 1fr) minmax(0, 3fr) minmax(0, 1fr);
}

.pips--4, .pips--6 {
    grid-template:
            "a . c" minmax(0, 1fr)
            "e . f" minmax(0, 1fr)
            "b . d" minmax(0, 1fr)
    / 2fr 1fr 2fr;
}

.pips--5 {
    grid-template:
            "a . c" 1fr
            ". e ." 1fr
            "d . b" 1fr
    / 1fr 1fr 1fr;
}

.pips--7 {
    grid-template:
            "a . c" 1fr
            ". f ." .5fr
            "g . e" 1fr
            "b . d" 1fr
    / 1fr 1fr 1fr;
}

.pips--8 > .suit-icon {
    padding: .2rem;
}
.pips--8 {
    grid-template:
            "a c" minmax(0, 1fr)
            "e g" minmax(0, 1fr)
            "f h" minmax(0, 1fr)
            "b d" minmax(0, 1fr)
    / minmax(0, 1fr) minmax(0, 1fr);
}

.pips--9 {
    grid-template:
            "a c e" 1fr
            "g h i" 1fr
            "b d f" 1fr
    / 1fr 1fr 1fr;
}

.pips--10 {
    margin-top: 0;
    margin-bottom: 0;
    grid-gap: 0;
    grid-template:
    "a . c"
    ". e ."
    "g . i"
    "h . j"
    ". f ."
    "b . d"
    / 1fr 1fr 1fr;
}

.pips > .suit-icon:nth-child(1) {
    grid-area: a;
}
.pips > .suit-icon:nth-child(2) {
    grid-area: b;
}
.pips > .suit-icon:nth-child(3) {
    grid-area: c;
}
.pips > .suit-icon:nth-child(4) {
    grid-area: d;
}
.pips > .suit-icon:nth-child(5) {
    grid-area: e;
}
.pips > .suit-icon:nth-child(6) {
    grid-area: f;
}
.pips > .suit-icon:nth-child(7) {
    grid-area: g;
}
.pips > .suit-icon:nth-child(8) {
    grid-area: h;
}
.pips > .suit-icon:nth-child(9) {
    grid-area: i;
}
.pips > .suit-icon:nth-child(10) {
    grid-area: j;
}

.pips {
    overflow: hidden;
}

.pips > .suit-icon:nth-child(even) {
    transform: scaleY(-1)
}

.suit-icon {
    width: 100%;
    max-height: 100%;
    padding: 0;
}

.face-card-art {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}