.hand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em;
}

.hand__slot {
    margin-right: -1.2rem;
    transition: transform .3s ease;
    background: none;
    border: none;
}

.hand__slot:not(:disabled) {
    cursor: pointer;
}
.hand__slot:not(:disabled):hover,
.hand__slot:not(:disabled):focus {
    outline: none;
    transform: translate(0, -25%);
    transition-delay: 0s;
}

.hand__slot__collapsing {
    animation: collapse .5s ease;
    overflow: hidden;
}

@keyframes collapse {
    to {
        width: 0;
    }
}