.hand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em;
}

.hand .card {
    box-shadow: 0 .5rem .5rem rgba(20,20,20,.2);
}

.hand__slot {
    margin-right: -1.2rem;
    transition: transform .3s ease;
    background: none;
    border: none;
}

.hand__slot:not(:disabled) {
    cursor: pointer;
}
.hand__slot:not(:disabled):hover,
.hand__slot:not(:disabled):focus {
    outline: none;
    transform: translate(0, -25%);
    transition-delay: 0s;
}


.opponent-hand {
    position: relative;
    transform: scale(.75);
}
.opponent-hand .card {
    box-shadow: 0 .5rem .5rem rgba(20,20,20,.1);
}
.opponent-hand__slot {
    position: absolute;
    transition: transform .5s ease;
    top: 0;
    left: 50%;
    transform-origin: 50% 0;
    --child-index: 0;
    --child-count: 0;
    --child-ratio: calc(var(--child-index) / var(--child-count));
    transform: translate(-50%, 25%) rotateZ(80deg) rotateZ(calc(var(--child-ratio) * -170deg));
}